
.container {
    position: relative;
    /* border-bottom: rgb(192, 192, 192) 2px solid; */
    box-shadow: gray 0px 0px 6px 0px;
    height: 100px;
    display: flex;
    background-color: rgb(247, 247, 247);
}
.oLogo {
    margin-bottom: 30px;
    position: absolute;
    transform: rotate(45deg);
    left: 45px;
    bottom: 18px;

}
.informacao {
    margin-left: 100px;
    padding-top: 20px;
}
.heart1 {
    margin: 20px;
    background-color: green;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    position: relative;
}

.heart1:before,
.heart1:after {
    content: "";
    background-color: green;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart1:before {
    top: -12px;
}

.heart1:after {
    left: 12px;
}

.alinha1 {
       /* position: absolute; */
       top: 12px;
       left: 8px;
       transform: rotate(316deg);
}

/* /////// */
.heart2 {
    margin: 20px;
    background-color: rgb(87, 192, 87);
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    position: relative;
}

.heart2:before,
.heart2:after {
    content: "";
    background-color: rgb(87, 192, 87);
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart2:before {
    top: -12px;
}

.heart2:after {
    left: 12px;
}
.alinha2 {
    position: absolute;
    top: 28px;
    left: 23px;
    transform: rotate(45deg);
}


.heart3 {
    margin: 20px;
    background-color: rgb(87, 192, 87);
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    position: relative;
}

.heart3:before,
.heart3:after {
    content: "";
    background-color: rgb(87, 192, 87);
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart3:before {
    top: -12px;
}

.heart3:after {
    left: 12px;
}


.heart4 {
    margin: 20px;
    background-color: green;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    position: relative;
}

.heart4:before,
.heart4:after {
    content: "";
    background-color: green;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart4:before {
    top: -12px;
}

.heart4:after {
    left: 12px;
}

.alinha3 {
    position: absolute;
    top: 28px;
    left: -7px;
    transform: rotate(225deg);
}


.alinha4 {
    position: absolute;
    top: 44px;
    left: 8px;
    transform: rotate(133deg);
}


