
.bodyMega {
    display: flex;
}
.contato{
    text-align: center;
    display: flex;
    font-size: 100px;
    align-items: center;
}
.contato h3 {
    font-size: 20px;
}
.bodyMega .artigo {
    width: 70%;
}
.bodyMega .anuncios {
    border: black solid 1px;
    width: 300px;
}
.maxDimensao {
    margin: auto;
    max-width: 1300px;
}
.jogarImage {
    text-align: center;
    margin: auto;
}
.imgL > img{
    width: 3300px;
   
}
.imgContato > img{
    width: 100%;
    height: 100%;
}
.divBolasQuina {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.divBolasQuina .bolas {
    background-color:rgb(38, 0, 133);
    margin: 10px 5px;
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(15, 0, 102), inset 3px 3px 5px rgb(195, 177, 255);
}
.resultadosQuina {
    background-color: rgb(138, 139, 213);
}
.resultadosQuina .infoResult {
    background-color: rgb(28, 0, 128);
}
.divBolasLotofacil {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.divBolasLotofacil .bolas {
    background-color: rgb(86, 0, 81);
    margin: 10px 5px;
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(102, 0, 83), inset 3px 3px 5px rgb(255, 177, 250);
}
.divBolas {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    /* border: black solid 1px; */
}

.bolas {
    background-color: rgb(0, 98, 44);
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(7, 102, 0), inset 3px 3px 5px rgb(177, 255, 181);
    margin: auto;
    justify-content: space-between;
    width: 50px;
    color: white;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 25px;    
}

.apresentacaoMega{
    display: flex;
    
}
.apresentacaoMega > div {
    width: 50%;
    margin-right: 10px;
}
.dataMega {
    /* border: black solid 1px; */
    color: rgb(0, 0, 0);
    font-weight: 800;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin: auto;
    width: fit-content;
}
.resultadosLotofacil {
    background-color: rgb(182, 138, 213);
}
.resultadosLotofacil .infoResult {
    background-color: rgb(111, 0, 128);
}
.resultados {
    background-color: rgb(138, 213, 138);
}
.infoResult {
    display: flex;
    color: white;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 50px;
}

.proximoP {
    background-color: gold;
    text-align: center;
    padding: 3em;
}
.info {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.249) 0px 0px 30px 0px;
}

.fundoDep {
    background-color: red;
    height: 50px;
    width: 50px;
  }
  .depoCity {
    background-color: red;
  }
  @media (max-width: 768px) {
    
    .bodyMega {
        display: block;
    }
    .bodyMega .artigo {
        width: 100%;
    }
    .bodyMega .anuncios {
        border: black solid 1px;
        width: 100%;
    }
    .apresentacaoMega{
        display: block;
        
    }
    .apresentacaoMega > div {
        width: 95%;
        margin: auto;
        margin-right: 5px;
    }
}