
.bodyMega {
    display: flex;
}
.contato{
    text-align: center;
    display: flex;
    font-size: 100px;
    align-items: center;
}
.contato h3 {
    font-size: 20px;
}
.bodyMega .artigo {
    width: 70%;
}
.bodyMega .anuncios {
    border: black solid 1px;
    width: 300px;
}
.maxDimensao {
    margin: auto;
    max-width: 1300px;
}
.jogarImage {
    text-align: center;
    margin: auto;
}
.imgL > img{
    width: 3300px;
   
}
.imgContato > img{
    width: 100%;
    height: 100%;
}
.divBolasQuina {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.divBolasQuina .bolas {
    background-color:rgb(38, 0, 133);
    margin: 10px 5px;
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(15, 0, 102), inset 3px 3px 5px rgb(195, 177, 255);
}
.resultadosQuina {
    background-color: rgb(138, 139, 213);
}
.resultadosQuina .infoResult {
    background-color: rgb(28, 0, 128);
}
.divBolasLotofacil {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.divBolasLotofacil .bolas {
    background-color: rgb(86, 0, 81);
    margin: 10px 5px;
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(102, 0, 83), inset 3px 3px 5px rgb(255, 177, 250);
}
.divBolas {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    /* border: black solid 1px; */
}

.bolas {
    background-color: rgb(0, 98, 44);
    box-shadow: black 0px 2px 5px 0px,  inset -10px -10px 10px rgb(7, 102, 0), inset 3px 3px 5px rgb(177, 255, 181);
    margin: auto;
    justify-content: space-between;
    width: 50px;
    color: white;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 25px;    
}

.apresentacaoMega{
    display: flex;
    
}
.apresentacaoMega > div {
    width: 50%;
    margin-right: 10px;
}
.dataMega {
    /* border: black solid 1px; */
    color: rgb(0, 0, 0);
    font-weight: 800;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin: auto;
    width: fit-content;
}
.resultadosLotofacil {
    background-color: rgb(182, 138, 213);
}
.resultadosLotofacil .infoResult {
    background-color: rgb(111, 0, 128);
}
.resultados {
    background-color: rgb(138, 213, 138);
}
.infoResult {
    display: flex;
    color: white;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 50px;
}

.proximoP {
    background-color: gold;
    text-align: center;
    padding: 3em;
}
.info {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.249) 0px 0px 30px 0px;
}

.fundoDep {
    background-color: red;
    height: 50px;
    width: 50px;
  }
  .depoCity {
    background-color: red;
  }
  /*coração css */
  .logoCompleto {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
   
  }
  .textoLogo {
    text-align: center;
    margin-left: 20px;
  }
  .textoLogo h2 {
    font-size: 4em;
  }
  .textoLogo p {
    font-size: 2em;
    font-weight: 200;
    margin-top: -60px;
    padding: 0px;
  }
  .logodoMega {
    padding: 60px;
    position: relative;
  }
 
.coracaoTrevo {    
    background-color:rgb(178, 207, 179);
    height: 2.81em;
    transform: rotate(-45deg);
    width: 2.81em;
    position: relative;
}

.coracaoTrevo:before,
.coracaoTrevo:after {
    content: "";
    background-color:rgb(178, 207, 179);
    border-radius: 45%;
    height: 2.81em;
    position: absolute;
    width: 2.81em;
}
.coracaoTrevo:before {
    top: -23.5px;   

}
.coracaoTrevo:after {
    left: 23.5px;
  
}
.posicaoOne {
    rotate: 45deg;
    position: absolute;
    left: 60px;
    top: 0px;
}

/*-----------------*/

.coracaoTrevoOne {    
    background-color:rgb(59, 121, 62);
    height: 2.81em;
    transform: rotate(-45deg);
    width: 2.81em;
    position: relative;
}

.coracaoTrevoOne:before,
.coracaoTrevoOne:after {
    content: "";
    background-color:rgb(59, 121, 62);
    border-radius: 45%;
    height: 2.81em;
    position: absolute;
    width: 2.81em;
}
.coracaoTrevoOne:before {
    top: -23.5px;   

}
.coracaoTrevoOne:after {
    left: 23.5px;
  
}
.posicaoTwo {
    rotate: -45deg;
    position: absolute;
    left: 10px;
    top: 0px;
}

/*-----------------------------*/
.coracaoTrevoTwo {    
    background-color:rgb(59, 121, 62);
    height: 2.81em;
    transform: rotate(-45deg);
    width: 2.81em;
    position: relative;
}

.coracaoTrevoTwo:before,
.coracaoTrevoTwo:after {
    content: "";
    background-color:rgb(59, 121, 62);
    border-radius: 45%;
    height: 2.81em;
    position: absolute;
    width: 2.81em;
}
.coracaoTrevoTwo:before {
    top: -23.5px;   

}
.coracaoTrevoTwo:after {
    left: 23.5px;
  
}
.posicaoTree {
    rotate: 135deg;
    position: absolute;
    left: 60px;
    top: 50px;
}

/*-----------------------------*/

.coracaoTrevoTree {    
    background-color:rgb(178, 207, 179);
    height: 2.81em;
    transform: rotate(-45deg);
    width: 2.81em;
    position: relative;
}

.coracaoTrevoTree:before,
.coracaoTrevoTree:after {
    content: "";
    background-color:rgb(178, 207, 179);
    border-radius: 45%;
    height: 2.81em;
    position: absolute;
    width: 2.81em;
}
.coracaoTrevoTree:before {
    top: -23.5px;   

}
.coracaoTrevoTree:after {
    left: 23.5px;
  
}
.posicaoFour {
    rotate: -135deg;
    position: absolute;
    left: 10px;
    top: 50px;
}

/* .posicaoTwo > .coracaoTrevo,  .coracaoTrevo:before,
.coracaoTrevo:after{
    background-color: green;
    rotate: -45deg;
}
.posicaoTwo > .coracaoTrevo{
    position: absolute;
    background-color: green;
    top: 2px;
    left: 49px;
}

.posicaoOne > .coracaoTrevo, .coracaoTrevo:before,
.coracaoTrevo:after{
    background-color: rgb(0, 84, 0);
    rotate: 40deg; 

}
.posicaoOne .coracaoTrevo{
    position: absolute;
    top: 0px;
    left: 96px;
}
.posicaoTree > .coracaoTrevo, .coracaoTrevo:before,
.coracaoTrevo:after{
    background-color: rgb(131, 192, 131);
    rotate: 130deg;
}
.posicaoTree {
    position: absolute;
    top: 48px;
    left: 99px;
}
.posicaoFour > .coracaoTrevo, .coracaoTrevo:before,
.coracaoTrevo:after{
    background-color: rgb(131, 192, 131);
    rotate: 220deg;
}
.posicaoFour {
    position: absolute;
    top: 54px;
    left: 40px;
} */



  @media (max-width: 768px) {
    
    .bodyMega {
        display: block;
    }
    .bodyMega .artigo {
        width: 100%;
    }
    .bodyMega .anuncios {
        border: black solid 1px;
        width: 100%;
    }
    .apresentacaoMega{
        display: block;
        
    }
    .apresentacaoMega > div {
        width: 95%;
        margin: auto;
        margin-right: 5px;
    }
}