.divBolas {
    width: 80%;
    margin: auto;
    display: flex;
    border: black solid 1px;
}
.bolas {
    background-color: rgb(0, 98, 44);
    margin: auto;
    justify-content: space-between;
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    
}